<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Appause"
        tools:targetApi="31">
        <activity
            android:name=".CheckedActivity"
            android:exported="false"/>
        <activity android:windowSoftInputMode="adjustPan"
            android:name=".expview.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.friends.FriendRequestActivity"
            android:exported="false"
            android:label="@string/title_activity_friend_request"
            android:theme="@style/Theme.Appause.NoActionBar" />
        <activity
            android:name=".ui.friends.FriendsSearchActivity"
            android:exported="true" />
        <activity
            android:name=".ui.friends.FriendReportActivity"
            android:exported="false"
            android:label="@string/title_activity_friend_report"
            android:theme="@style/Theme.Appause.NoActionBar" />
        <activity
            android:name=".ui.reports.DetailedUsageActivity"
            android:exported="false"
            android:label="@string/title_activity_detail_usage"
            android:theme="@style/Theme.Appause.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <service
            android:name=".AppauseFirebaseInstanceIDService"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
    </application>

</manifest>